<h1>Admin Dashboard</h1>
<div class = "text-white">
<ul>
<br>
<li><h4> There is <%=@total_products%> products in this store.</h4></li>
<br>
<li><h4> There is <%=@total_categories%> categories in this store.</h4></li>
</ul>
</div>

