<h1> About us </h1>

<h3> The store was built in 1990 in Toronto, Ontario. We started with selling only shirts. Around 1994, we expanded and started selling various products including uncomfortable mattresses, weird chairs and other useless gadgets. </h3>